/* .user-img, .compare-img, .cart-img {
    filter: invert(67%) sepia(80%) saturate(929%) hue-rotate(1deg) brightness(106%) contrast(104%);
}
.logotype {
    filter:grayscale(100%) opacity(0.2);
}
.logotype:hover {
    filter: none;
} */
