@font-face {
    font-family: "Gilroy", sans-serif;
    src: url(../fonts/gilroyextrabold.woff) format("woff"),
        url(../fonts/gilroyextrabold.woff2) format("woff2"),
        url(../fonts/gilroylight.woff) format("woff"),
        url(../fonts/gilroylight.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans", sans-serif;
    src: url(../fonts/opensans.woff) format("woff"),
        url(../fonts/opensans.woff2) format("woff2"),
        url(../fonts/opensanslight.woff) format("woff"),
        url(../fonts/opensanslight.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: normal;
    color: #464646;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

/* main-header start */
.main-header {
    background-color: #f7e296;
    font-weight: 800;
    color: #000000;
}

.main-header a {
    color: #000000;
}

.main-header ul {
    list-style: none;
}

.header-logo,
.footer-logo {
    font-size: 48px;
    line-height: 48px;
    letter-spacing: 0.01em;
    cursor: pointer;
}

.header-logo:hover,
.site-navigation-item:hover:not(:first-child),
.site-navigation-parent:hover,
.catalog-item:hover,
.entry:hover,
.compare:hover,
.cart:hover,
.user:hover,
.exit:hover {
    opacity: 0.6;
}

.header-logo:active,
.site-navigation-item:active:not(:first-child),
.site-navigation-parent:active,
.catalog-item:active,
.entry:hover:active,
.compare:active,
.cart:active,
.user:active,
.exit:active {
    opacity: 0.3;
}

#search:hover {
    opacity: 0.6;
}

#search:focus {
    opacity: 1;
    outline: none;
    background-color: inherit;
}

.search-btn {
    font: inherit;
    background-color: #f7e296;
    border: 2px solid #000000;
    cursor: pointer;
}

.search-btn:hover {
    background-color: #000000;
    color: #ffffff;
}

.search-btn:active {
    color: rgba(255, 255, 255, 0.3);
}

.site-navigation-list {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.login,
.compare-cart,
.catalog,
.search,
.footer-login,
.footer-compare-cart {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 400;
    letter-spacing: 0.01em;
}

#search {
    opacity: 0.3;
    border: none;
    background-color: inherit;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 15px;
    line-height: 24px;
}

.login,
.compare-cart,
#search {
    line-height: 30px;
}

.catalog {
    line-height: 36px;
    text-transform: none;
}

/* main-header end */
/* popular start */
.product-title {
    font-size: 47px;
    line-height: 56px;
    letter-spacing: 0.01em;
    font-weight: bold;
    color: #000000;
}

.button {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-weight: bold;
    color: #000000;
    border: none;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 8px;
    background-color: #f0c52e;
}

.button-container:hover {
    height: 40px;
    transition: 0.5s;
}

.button:active {
    color: rgba(0, 0, 0, 0.3);
}

.value {
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.01em;
    color: #000000;
}

.sign {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.01em;
}

/* popular end */
.products-catalog,
.products-list {
    list-style: none;
}

.products-catalog-item a {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.01em;
    font-weight: bold;
    color: #000000;
}

.product-container {
    display: flex;
    width: 160px;
    height: 160px;
    background-color: #f7e296;
}

.popular {
    margin: auto;
}

.popular2 {
    margin-bottom: 2px;
}

.product-link:hover .product-container {
    background-color: #f0c52e;
}

.product-link:active img,
.product-link:active {
    opacity: 0.3;
}

/* services start */
.services {
    background-color: #e5e5e5;
}

.services-list {
    list-style: none;
}

.service-list-title {
    font-size: 47px;
    letter-spacing: 0.01em;
    color: #000000;
    font-weight: bold;
}

.button-services {
    width: 160px;
    position: relative;
}

.button-services:active {
    background-color: #000000;
    color: #f7e184;
}

.button-services:active a {
    color: inherit;
}

.button-services::after {
    content: '';
    position: absolute;
    width: 120px;
    height: 40px;
    background-color: #000000;
    right: -120px;
    opacity: 0;
    transition: all 0.5s;
}

.button-services:active::after,
.button-services:active::before {
    opacity: 1;
}

.button-services::before {
    content: '';
    position: absolute;
    width: 7px;
    height: 319px;
    background: #000000;
    right: -127px;
    opacity: 0;
    transition: all 0.5s;
}

/* services-end */
/* logotypes start */
.logotype {
    filter: grayscale(100%) opacity(0.2);
    list-style: none;
    transition: all 0.5s;
}

.logotype:hover {
    filter: none;
}

/* logotypes end */
/* about-us start */
.about-us-title {
    font-size: 47px;
    letter-spacing: 0.01em;
    color: #000000;
    font-weight: bold;
}

.about-us-list {
    list-style: none;
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 16px;
    line-height: 40px;
    font-weight: bold;
    color: #000000;
    margin: 0;
    padding: 0;
}

.service-list-description {
    font-family: "Open Sans", "Arial", sans-serif;
    color: #464646;
    margin-bottom: 30px;
}

.button-us {
    width: 260px;
}

/* about-us end */
/* footer start */
.social-button {
    opacity: 0.3;
}

.footer-logo:hover,
.user:hover,
.exit:hover,
.footer-service-item:hover,
.htmlacademy:hover,
.social-button:hover,
.footer-user:hover {
    opacity: 0.6;
}

.footer-logo:active,
.user:active,
.exit:active,
.footer-social:active,
.footer-service-item:active,
.htmlacademy:active,
.footer-user:active,
.exit {
    opacity: 0.3;
}

.social-button:active {
    opacity: 0.1;
}

.main-footer {
    background-color: #464646;
    width: 100%;
}

.footer-logo {
    font-weight: bold;
    color: #ffc600;
}

.footer-logo a {
    color: inherit;
}

.main-footer p:not(.footer-logo) {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 300;
    color: #ffffff;
}

.user-img,
.compare-img,
.cart-img,
.htmlacademy {
    filter: invert(67%) sepia(80%) saturate(929%) hue-rotate(1deg) brightness(106%) contrast(104%);
}

.footer-services {
    list-style: none;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    letter-spacing: 0.2em;
    font-weight: bold;
}

.footer-services a {
    color: inherit;
}

.footer-social,
.footer-login,
.footer-compare-cart {
    list-style: none;
}

.footer-login a,
.footer-compare-cart a,
.footer-login-checked a {
    color: #ffffff;
    font-weight: lighter;
}

/* footer end */
/* Modal start */
.write-us label {
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    font-weight: bold;
}

.write-us input {
    border: none;
    width: 345px;
    min-height: 50px;
    background-color: #f2f2f2;
    outline: none;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #464646;
}

.write-us input:hover,
.write-us textarea:hover {
    background-color: #eaeaea;
}

.write-us input:focus,
.write-us textarea:focus {
    background-color: #ffffff;
    border: 3px solid #f7e296;
}

/* .write-us input {
    background-color: #f6dada;
} */
.write-us textarea {
    width: 760px;
    height: 137px;
    background-color: #f2f2f2;
    border: none;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #464646;
    outline: none;
}

.write-us button,
.modal-close {
    border: none;
    background-color: transparent;
    outline: none;
}

.modal-close {
    font-size: 0;
    filter: opacity(0.5);
}

.modal-close:hover {
    filter: none;
}

.modal-close:active {
    filter: opacity(0.3);
}

/* modal-end */
/* second page */
.exit {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
}

.catalog-title {
    font-size: 47px;
    line-height: 48px;
    font-weight: bold;
    color: #000000;
    letter-spacing: 0.01em;
}

.sorting-of-type li,
.sorting-quantity li {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    opacity: 0.3;
    list-style: none;
}

.breadcrumbs li {
    color: rgba(0, 0, 0, 0.3);
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    list-style: none;
}

.breadcrumbs a {
    color: inherit;
}

.sorting-of-type li:hover,
.sorting-quantity li:hover {
    opacity: 0.6;
}

.breadcrumbs li:hover {
    color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs li:last-child:hover {
    color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs li:active {
    color: rgba(0, 0, 0, 0.1);
}

.sorting-of-type li:active,
.sorting-quantity li:active {
    opacity: 1;
}

.sorting-of-type a,
.sorting-quantity a {
    color: #000000;
    font-weight: bold;
}

.sorting-quantity a {
    position: relative;
    font-size: 0;
}

.top::after {
    content: '';
    display: inline-block;
    /* position: absolute; */
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5.5px 10px 5.5px;
    border-color: transparent transparent #000000 transparent;
    /* top: 0;
    right: -100px; */
}

.bottom::after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 5.5px 0 5.5px;
    border-color: #000000 transparent transparent transparent;
    /* top: -28px;
    right: 0px; */
     /* position: absolute; */
}

.sorting-container {
    background-color: #ebebeb;
}

.filter-title {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2em;
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
}

.filters legend {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #000000;
    font-weight: bold;
    position: relative;
}

.filters legend::before {
    content: '';
    width: 201px;
    height: 2px;
    background-color: #000000;
    position: absolute;
    top: -10px;
    left: 0;
}

.filters fieldset {
    border: none;
}

.filters {
    background-color: #ebebeb;
}

.filters button {
    color: #000000;
    border: none;
    background-color: transparent;
    outline: none;
}

.sorting-container h2 {
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    letter-spacing: 0.2em;
    font-weight: bold;
    text-transform: uppercase;
}

.product-compare {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: #000000;
    opacity: 0.6;
}

.product-compare:hover {
    opacity: 1;
}

.product-compare:active {
    opacity: 0.1;
}

.product-list-item h3 {
    font-size: 18px;
    color: #000000;
    font-weight: bold;
    line-height: 0.01em;
}

.product-price {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #464646;
    font-weight: lighter;
}

.pagination-list {
    list-style: none;
    background-color: #ebebeb;
}

.pagination-item a {
    color: #000000;
    font-size: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-weight: bold;
}

.pagination-item {
    opacity: 0.3;
}

.pagination-item:hover {
    opacity: 0.6;
}

.pagination-item:active {
    opacity: 1;
}

.pagination-button button {
    border: none;
    background-color: inherit;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2em;
    color: #000000;
}

.pagination-button button:hover {
    background-color: #d9d9d9;
}

.pagination-button button:active {
    opacity: 0.3;
}

/* СЕТКИ */
.pixel {
    position: absolute;
    z-index: 1;
    opacity: 0.3;
    margin: 0 auto;
    right: 240px;
    top: 65px;
}

.container {
    width: 1180px;
    padding: 0 20px;
    margin: 0 auto;
}

.main-header {
    width: 1160px;
    min-height: 297px;
    position: relative;
    margin-top: 40px;
    padding-top: 1px;
    z-index: 0;
}

.header-logo {
    position: absolute;
    top: -71px;
    left: 60px;
}

.site-navigation {
    margin-top: 44px;
}

.site-navigation-container,
.site-navigation-list {
    display: flex;
    flex-direction: row;
    margin: 0 60px;
    /* border:1px solid red; */
    align-items: center;
    margin-bottom: 40px;
    width: 1040px;
    justify-content: space-between;
}

.search {
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border:1px solid black; */
}

.search label {
    display: none;
}

.search button {
    display: none;
}

.compare-cart {
    display: flex;
    margin-left: 200px;
    /* border: 1px solid green; */
}

.compare {
    margin-right: 45px;
}

.cart {
    margin-left: auto;
}

.login {
    /* border: 1px solid green; */
}

.login a {
    display: block;
}

.login img {
    margin-right: 13px;
}

.compare-cart a {
    display: block;
}

.compare-cart img {
    margin-right: 10px;
}

.search img {
    margin-right: 15px;
}

.catalog {
    display: none;
}

.site-navigation-item:last-child {
    margin-left: auto;
    margin-right: -4px;
}

.site-navigation-item:nth-child(2) {
    margin-left: 320px;
}

.site-navigation-item:nth-child(3) {
    margin-left: 35px;
}

/* Popular-items */
.popular-item {
    display: flex;
    width: 1020px;
    margin: 0 60px;
    margin-bottom: 115px;
    position: relative;
    /* border:1px dashed green; */
}

.popular-item-number {
    display: block;
    font-size: 179.2px;
    font-weight: bold;
    color: #ffffff;
    position: absolute;
    right: 0;
    top: 56px;
}

.popular .popular-item:first-of-type {
    margin-left: 90px;
    margin-right: 60px;
    margin-top: -153px;
    z-index: 1;
    /* position: absolute; */
}

.popular-item-container {
    margin-left: 115px;
    display: flex;
    flex-direction: column;
}

.product-title {
    margin-bottom: 35px;
    margin-top: 71px;
}

.product-title::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 7px;
    background-color: #fff;
    top: 31px;
}

.product-description {
    margin-bottom: 58px;
    margin-top: 0;
}

.popular-item-container .button-popular {
    margin-bottom: 52px;
}

.button-popular:hover {
    margin-bottom: 40px;
    margin-top: -20px;
}

.table-description td {
    padding-right: 77px;
}

.value td {
    padding-bottom: 15px;
}

.popular-item:nth-of-type(2) {
    margin-bottom: 95px;
}

.popular-item:nth-of-type(2) .popular-item-container {
    margin-left: 170px;
}

.popular-item:last-of-type {
    margin-left: 30px;
    width: 1076px;
}

.popular-item:last-of-type .popular-item-container {
    margin-left: 40px;
}

.products-catalog {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.slides-switches {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    position: absolute;
    right: 14px;
    bottom: 118px;
}

.visually-hidden {
    position: absolute;
}

.slider-btn {
    border: none;
    background-color: transparent;
    font-size: 0;
    padding: 0;
}

.slider-radio {
    margin-right: 20px;
}

/* Services */
.services {
    width: 100%;
    padding-top: 1px;
}

.button-services {
    margin-bottom: 50px;
    margin-top: -5px;
}

.button-services:hover,
.button-services:active {
    margin-bottom: 35px;
    margin-top: -20px;
}

.service-list-container {
    margin-left: 400px;
    margin-bottom: 94px;
    margin-top: -224px;
    position: relative;
}

.service-list-subcontainer {
    display: flex;
    flex-direction: column;
    margin-right: 130px;
}

.service-list-container:first-of-type .service-list-subcontainer {
    margin-right: 130px;
}

.service-list-container:nth-of-type(2) .service-list-subcontainer {
    margin-right: 100px;
}

.service-list-container:last-of-type .service-list-subcontainer {
    margin-right: 110px;
}

.service-list-title {
    margin-bottom: 42px;
}

.service-list-container img {
    position: absolute;
    top: 49px;
    right: 50px;
}

.info {
    margin-top: 0;
    margin-bottom: 50px;
}

.logotypes {
    display: flex;
    justify-content: space-between;
}

/* About-us and contacts */
.about-us-title {
    margin-bottom: 40px;
    margin-top: 145px;
}

.contacts .about-us-title {
    margin-top: 143px;
}

.us {
    margin-bottom: 30px;
}

.about-us-list li {
    margin-bottom: 5px;
}

.about-us-list li:last-child {
    margin-bottom: 92px;
}

.contacts .service-list-description {
    margin-bottom: 0;
}

.contacts img {
    margin-bottom: 85px;
    margin-top: 27px;
}

.wrapper {
    display: flex;
}

.contacts {
    margin-left: 135px;
}

.button-us:hover {
    margin-top: -15px;
}

.button-us {
    margin-bottom: 85px;
}

/* FOOTER */
.main-footer {
    padding-top: 1px;
    height: 325px;
}

.footer-logo {
    margin-top: 60px;
    margin-bottom: 20px;
}

.footer-services,
.footer-social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-service-item {
    margin-right: 37px;
}

.footer-service-item:last-child {
    margin-right: 0;
}

.footer-services {
    margin-top: 144px;
}

.footer-social {
    margin-top: 65px;
}

.social-button {
    margin-right: 23px;
}

.footer-container {
    display: flex;
}

.footer-compare-cart {
    display: flex;
    margin-left: 44px;
}

.footer-login img {
    margin-right: 10px;
}

.footer-compare-cart img {
    margin-right: 8px;
}

.footer-container {
    margin-top: 64px;
    margin-bottom: 47px;
}

.tel {
    margin-top: 0;
    margin-bottom: 0;
}

.htmlacademy {
    margin-top: 65px;
}

.layout-column-1 {
    display: flex;
    margin-left: 0;
    flex-direction: column;
    align-items: flex-start;
}

.layout-column-3 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: auto;
}

.layout-column-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 153px;
    justify-content: center;
}

/* Modal */
.modal {
    width: 960px;
    border: 1px dashed transparent;
    margin: 0 auto;
    box-shadow: 0 10px 20px rgba(4, 6, 6, 0.2);
}

.modal h2 {
    display: none;
}

.modal-login,
.modal-map {
    position: relative;
    margin-bottom: 20px;
}

.modal-map {
    height: 559px;
}

.modal-close {
    position: absolute;
    top: 11px;
    right: 11px;
}

.modal-container {
    display: flex;
    flex-direction: row;
    margin: 0 100px;
    margin-top: 97px;
}

.write-us {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.wrapper-name {
    display: flex;
    flex-direction: column;
}

.write-us label {
    margin-bottom: 12px;
}

.write-us-text {
    margin-top: 35px;
}

#write-us-name,
#write-us-email {
    padding-left: 15px;
}

.text-us {
    margin-top: 35px;
}

#write-us-text {
    margin-bottom: 52px;
    padding-top: 17px;
    padding-left: 9px;
}

.modal-login .button-container:hover {
    margin-top: -10px;
    margin-bottom: 64px;
}

.modal-login .button-container {
    margin-bottom: 86px;
}

/* Сетки 2 страница */
.login-checked {
    display: flex;
}

.user {
    margin-right: 13px;
}

.user img {
    margin-right: 10px;
}

.catalog-compare-cart {
    margin-left: 68px;
}

.catalog-header {
    min-height: 186px;
}

.catalog-main {
    width: 1100px;
    padding-left: 60px;
}

.catalog-title {
    margin: 0;
    padding: 0;
    margin-top: 40px;
    margin-bottom: 30px;
}

.breadcrumbs {
    display: flex;
}

.breadcrumbs li {
    position: relative;
    margin-right: 35px;
}

.breadcrumbs li::after {
    content: '';
    width: 4px;
    height: 1px;
    background-color: #000000;
    position: absolute;
    top: 11px;
    right: -16px;
    transform: rotate(45deg);
}

.breadcrumbs li::before {
    content: '';
    width: 4px;
    height: 1px;
    background-color: #000000;
    position: absolute;
    bottom: 10px;
    right: -16px;
    transform: rotate(-45deg);
}

.breadcrumbs li:last-child::before,
.breadcrumbs li:last-child::after {
    display: none;
}

.breadcrumbs {
    margin-bottom: 45px;
}

.filter-title {
    padding: 23px 0;
}

.title-color {
    background-color: #dcdcdc;
    width: 100%;
}

.form-filters fieldset {
    padding: 0;
    margin: 0;
}

.form-filters button {
    cursor: pointer;
}

.form-filters {
    display: flex;
    flex-direction: column;
}

.filters .form-filters-fieldset:first-child {
    margin-top: 72px;
}

.label-color {
    display: block;
}

.check__box {
    background-image: url(../img/checkbox-off.svg);
    background-repeat: no-repeat;
    width: 27px;
    height: 23px;
    position: absolute;
    left: -35px;
}

.form-filters input[type="checkbox"]:checked + span {
    background-image: url(../img/checkbox-on.svg);
}

.label-color {
    margin-left:35px;
    position: relative;
}


.label-color:last-child {
    margin-bottom: 50px;
}

 .legend-color {
     margin-bottom: 23px;
 }

.legend-price {
    margin-bottom: 27px;
}

.label-bluetooth {
    display: block;
    position: relative;
    margin-left: 35px;
    margin-bottom: 10px;
}

.radio {
    background-image: url(../img/radio-off.svg);
    background-repeat: no-repeat;
    position: absolute;
    width: 25px;
    height: 25px;
    left: -35px;
}

.form-filters input[type="radio"]:checked + span {
    background-image: url(../img/radio-on.svg);
    background-repeat: no-repeat;
}

.legend-bluetooth {
    margin-bottom:25px;
}

.form-filters .button-container {
    margin-top: 48px;
    margin-bottom:
}

.form-filters .button-container:hover {
    margin-top:24px;
}

.sorting-container, .sorting-of-type,
.sorting-quantity {
    display: flex;
    align-items: center;
}

.products-list {
    display: flex;
    flex-wrap: wrap;
}

.product-list-item {
    margin-right: 40px;
}

.product-list-item h3 {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
}



/* .flex-container {
    display: flex;
} */
